html, body{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    width: 1000px;
    height: 1000px;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink:1;
}

.col{
    display: flex;
    flex-grow: 1;
    flex-shrink:1;
    background-color: black;
    color: white;
}
