html, body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container{
    display: flex;
    width: 1000px;
    height: 1000px;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid #000;
    border-width: 5px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink:1;
}

.col{
    display: flex;
    flex-grow: 1;
    flex-shrink:1;
    background-color: white;
    color: white;
}
