html, body{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    background-color:blue;
    color: white;
    width: 1000px;
    height: 1000px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
}

.row{
    display: flex;
    color: black;
    background-color: red;
    justify-content: space-evenly;
    align-items: stretch;
}

.col{
    display: flex;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
}

